<clickhouse>
    <logger>
        <level>trace</level>
        <console>true</console>
    </logger>

    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <mysql_port>9004</mysql_port>

    <path>./data/</path>
    <tmp_path>./tmp/</tmp_path>
    <user_files_path>./user_files/</user_files_path>

    <users_config>users.xml</users_config>

    <storage_configuration>
        <disks>
            <jfs_disk>
                <type>local</type>
                <path>/mnt/jfs_local/</path>
            </jfs_disk>
        </disks>
        <policies>
            <jfs_policy>
                <volumes>
                    <main>
                        <disk>jfs_disk</disk>
                    </main>
                </volumes>
            </jfs_policy>
        </policies>
    </storage_configuration>

    <zookeeper>
        <node>
            <host>localhost</host>
            <port>9181</port>
        </node>
    </zookeeper>

    <keeper_server>
        <tcp_port>9181</tcp_port>
        <server_id>1</server_id>
        <log_storage_path>./keeper/log</log_storage_path>
        <snapshot_storage_path>./keeper/snapshots</snapshot_storage_path>

        <coordination_settings>
            <operation_timeout_ms>10000</operation_timeout_ms>
            <session_timeout_ms>30000</session_timeout_ms>
            <raft_logs_level>trace</raft_logs_level>
        </coordination_settings>

        <raft_configuration>
            <server>
                <id>1</id>
                <hostname>localhost</hostname>
                <port>9234</port>
            </server>
        </raft_configuration>
    </keeper_server>
</clickhouse>
